html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;

    font-family: 'Roboto';
    font-style: normal;    
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h2, a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
    padding-top: 3%;
    margin-bottom: 40px;
}

h4, p {
    font-family: 'Roboto Slab', serif;
    color: white;
}

hr {
   width: 251px;
   height: 10px;
   background: #FFB737;
   border-radius: 30px;
   border: 0;
   margin: -20px auto 30px auto;
}

li, #logo, .fa-bars {
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
}

.fa-bars {
    display: none;
}

/* HEADER */

header {
    width: 100%;
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(38, 111, 128, 0.6);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.header-container {
    width: 80%;
    margin: 40px auto 0 auto;
}

#logo {
    width: 12%;
    float: left;
    margin:  0 0 0 50px;
}

#logo:hover {
    opacity: 0.5;
}

#logo img {
    width: 100%;
}

header nav {
    float: right;
    margin: 10px 50px 0 0;
}

header nav ul li {
    float: left;
    margin-right: 25px;
}

header nav ul li a {
    font-size: 16px;
}

header nav ul li:hover {
    padding-top: 5px;
}

/* HOME */

#home {
    background: url('../img/bg-banner.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 30rem;
}

#nossos-servicos {
    width: 80%;
    height: auto;
    min-height: 250px;
    left: 160px;
    top: 411px;
    background: #0CB8B6;
    margin: -60px auto 0 auto;
}

#nossos-servicos hr {
    width: 20%;
}

#nossos-servicos p {
    margin: 0 auto 0 auto;
    padding: 0px 20px 20px 20px;
}

/*ITENS*/
#servicos {
    width: 80%;
    margin: 0px auto 0 auto;
    padding-bottom: 60px;
}

.grid-servicos {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 9px;
}
.servico {
    float: left;
    border-style: solid;
    border-width: thin;
    border-color: #0CB8B6;
    background-color: #0CB8B6;
}
.servico img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
}

/* #ambulancia {
    width: 70%;
    margin: 0px auto 0 auto;   

}
#ambulancia .grid {
    display: grid;
    grid-template-columns: 40% 60%;
}
#ambulancia .texto {
    background-color: #0CB8B6;
    color: white;
    position: relative;

} 
#ambulancia .texto p {
    width: 80%;
    margin: 0 auto 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */


#ambulancia {
    width: 70%;
    margin: 0px auto 0 auto;
}
#ambulancia .grid {
    grid-template:
		"ambulancia-img texto texto" 50px
		"ambulancia-img texto texto" 150px
		"ambulancia-img footer footer" 100px
		/ 100px 1fr 50px;
}
#ambulancia .texto {
    background-color: #0CB8B6;
    color: white;

} 









#emergencia {
    background: url('../img/desk-doctor-health-48604.jpg');
    background-position: center center;
    background-size: cover;
    width: 100%;
    min-height: 300px;
    position: relative;
}
.emergencia-card {
    width: 50%;
    min-height: 180px;    
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 180px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.emergencia-card-text h3{
    color: #266F80;
    font-weight: bold;
    text-align: left;
    padding: 20px 40px 0 40px;
    width: 80%;
    
}
.emergencia-card-text p{
    color: #266F80;
    padding: 0 0 0 40px;
    width: 80%;
    text-align: left;
}
.emergencia-card-img img {
    width: auto;
    height: 80%;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}
.emergencia-card-button {
    width: 100px;
    height: 50px;    
    background-color: #FFB737;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.emergencia-card-button:hover {
    background-color: #0CB8B6;
}
.emergencia-card-button-center {
    position: relative
}
.emergencia-card-button h3{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -20%);
}

#medicos {
    width: 80%;
    margin: 40px auto 0 auto;
    padding-bottom: 40px;
    overflow: hidden;
}
#medicos .grid {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-gap: 1.5%;
}
.medico img {
    width: 100%;
    height: auto;
}

.medico img:hover {
    opacity: 0.5;    
}

#servicos h1{
    width: 20%;
    padding: 50px;
    font-weight: bold;
    font-size: 72px;
    color: #266F80;
    margin: 0 auto 0 auto;
}

.servico-texto {
    float: left;
    border-style: solid;
    border-color: #0CB8B6;
}
.servico-texto h3 {
    font-size: 30px;
    color: #266F80;
    padding-top: 20px;
}
.servico-texto p {
    color: black;
    width: 50%;
    margin: 0 auto 0 auto;
    padding-bottom: 20px;
}

#itens img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}


/*footer*/
.rodape {
    width: 100%;
    min-height: 100px;
    background-color: black;
    text-align: center;
    background: url('../img/61802.jpg');
    background-position: center center;
    background-size: cover;
    color: #266F80;
}

.grid-rodape {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.item-email a {
    font-family: 'Roboto';
    color: #266F80;
    text-transform: lowercase;
}

.item-email a:hover {
    opacity: 0.5;
}

/* #copy ul li {
    width: 33.3%;
    float: left;
    margin-bottom:  15px;
}

#letter {
    color: #266F80;
} */

/*monitor*/
/* 
@media screen and (max-width: 1200px) {
    header {
        height: auto;
    }

    #logo {
        width: 100px;
        margin-top: 5px;
    }

    header nav {
        margin-top: 0;
    }

    header nav ul li {
        font-size: 12px;
    }

    #home h1 {
        font-size: 90px;
        margin-top: 200px;
    }

    #home h2 {
        font-size: 22px;
    }

    h3 {
        padding-top: 12%;
    }

    #itens ul li {
        width: 40%;
        margin-bottom:  2%;
    }
} */

/*tablets*/
@media screen  and (min-width: 601px) and (max-width: 1200px) {
    .grid-servicos {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-gap: 2%;
    }

    .grid-medicos {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-gap: 2%;
    }
   
    .emergencia-card {
        width: 80%;    
    }
}

/*mobile*/
@media screen and (max-width: 600px) {
    #servicos h1{
        width: 80%;
        font-weight: bold;
        font-size: 50px;
        color: #266F80;
        margin: 0 auto 0 auto;
    }

    .servico img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 80%;
    }

    .servico-texto p {
        color: black;
        width: 70%;
        margin: 0 auto 0 auto;
        padding-bottom: 20px;
    }

    .grid-servicos {
        display: grid;
        grid-template-columns: 100%;
    }

    .grid-medicos {
        display: grid;
        grid-template-columns: 100%;
    }

    #logo {
        width: 90px;
    }

    .grid-rodape {
        padding: 10px 0 20px 0;
        margin: 0 auto 0 auto;
        display: grid;
        grid-template-columns: 100%;        
    }

    .item-rodape {
        padding: 10px 10px 10px 10px;
    }

    header nav {
        margin: 0;
        float: none;
    }

    .fa-bars {
        font-size: 17px;
        display: inline-block;
        width: 100%;
        cursor: pointer;
        text-align: right;
        margin: -25px 30px 0 0;
    }

    .fa-bars:hover {
        opacity: 0.5;
    }

    header nav ul {
        height: 0;
        overflow: hidden;
    }

    #emergencia {
        height: 600px;
    }
    .emergencia-card{
        width: 90%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    .emergencia-card-text {
        padding-bottom: 30px;
    }
    .emergencia-card-text h3{
        padding: 0 0 0 40px;
        width: 80%;        
    }
    .emergencia-card-img {
        grid-row: 1;
    }
    .emergencia-card-img img {
        width: 90%;
        height: auto;
    }
    .emergencia-card-button {
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}